body::before{
content:"";
position:fixed;
width:600px;
height:600px;
background:radial-gradient(circle,#6366f1,#020617);
filter:blur(150px);
top:-100px;
left:-100px;
z-index:-1;
}

body::after{
content:"";
position:fixed;
width:500px;
height:500px;
background:radial-gradient(circle,#3b82f6,#020617);
filter:blur(150px);
bottom:-100px;
right:-100px;
z-index:-1;
}

body{
margin:0;
font-family:Inter, sans-serif;
background:#020617;
color:white;
}

.app{
padding:40px;
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:60px;
}

.navbar ul{
display:flex;
gap:30px;
list-style:none;
}

.logo{
color:#60a5fa;
font-size:24px;
font-weight:600;
}

.btn{
background:#2563eb;
border:none;
padding:10px 20px;
color:white;
border-radius:8px;
cursor:pointer;
transition:0.3s;
}

.btn:hover{
background:#1d4ed8;
}

.hero{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:100px;
}

.hero-text{
max-width:500px;
}

.hero h1{
font-size:50px;
line-height:1.2;
}

.hero span{
color:#60a5fa;
}

.hero p{
margin-top:15px;
font-size:18px;
color:#cbd5f5;
}

.hero-btn{
margin-top:25px;
background:linear-gradient(90deg,#6366f1,#3b82f6);
border:none;
padding:15px 25px;
border-radius:10px;
color:white;
font-size:16px;
cursor:pointer;
transition:0.3s;
}

.hero-btn:hover{
transform:translateY(-2px);
box-shadow:0 0 15px rgba(99,102,241,0.6);
}

.hero-card{
width:380px;
min-height:260px;
background:rgba(255,255,255,0.05);
border-radius:20px;
backdrop-filter:blur(20px);
display:flex;
flex-direction:column;
justify-content:center;
gap:15px;
padding:25px;
box-shadow:0 0 60px rgba(99,102,241,0.3);
}

.stat-card{
background:rgba(255,255,255,0.05);
padding:15px;
border-radius:10px;
display:flex;
justify-content:space-between;
font-size:18px;
}

.section-title{
margin-bottom:30px;
font-size:28px;
font-weight:600;
}

.output-title{
font-size:20px;
font-weight:600;
margin-bottom:15px;
color:#60a5fa;
}

.output-box{
background:rgba(255,255,255,0.05);
padding:20px;
border-radius:12px;
font-size:18px;
min-height:90px;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
}

.output-box p{
margin:0;
font-weight:500;
}

.ai-message{
margin-top:10px;
font-size:16px;
color:#93c5fd;
}

.alert-box{
margin-top:12px;
padding:12px 18px;
background:#7f1d1d;
border-radius:10px;
color:white;
font-weight:600;
animation:blinkAlert 1s infinite;
}

@keyframes blinkAlert{

0%{opacity:1;}
50%{opacity:0.3;}
100%{opacity:1;}

}